/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
/*a:link, a:visited              { !*font:12px Tahoma, sans-serif;*! color:#000; text-decoration:underline; }*/
a:hover                        { text-decoration:none; }
a {
	text-decoration: none;
	transition: 0.3s all ease-out;
}

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.overflow                      { overflow: hidden}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.s-1 {
   width: 8.33%;
}
.s-2 {
   width: 16.66%;
}
.s-3 {
   width: 25%;
}
.s-4 {
   width: 33.33%;
}
.s-5 {
   width: 41.66%;
}
.s-6 {
   width: 50%;
}
.s-7 {
   width: 58.33%;
}
.s-8 {
   width: 66.66%;
}
.s-9 {
   width: 75%;
}
.s-10 {
   width: 83.11%;
}
.s-11 {
   width: 91.66%;
}
.s-12 {
   width: 100%;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
	font-family: "Bold";
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

/*@font-face {
	font-family: "Light";
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Regular";
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: "Italic";
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}*/

@font-face {
	font-family: "SemiBold";
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*header{
	padding-top: 100px;
}*/
/*высота страницы минус высота футера*/

body {
	 padding-top: 220px;
}
	.wrapper {
 min-height: calc(100% - 320px);
}
/*.wrapper::after {
	content: "";
}*/

section{
	text-align: center;
}
.welcome-section {
	position: relative;
	height: 100vh;
	background: url("../images/header-background.jpg") center no-repeat;
 background-size: cover;
}
.container-top {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
 padding-top: 38px;
}
 .logo {

}
nav {
	/*display: none;*/
}
@media (max-width: 550px){
	nav ul {
		display: none;
	}
}
.select-boat li {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sana-serif;
 	font-size: 16px;
 	color: #f3f5fd;
}
nav .menu-btn {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sana-serif;
 	font-size: 16px;
 	color: #f3f5fd;
	padding: 10px 41px;
	background: transparent;
	border: 1px solid #f3f5fd;
	text-transform: uppercase;
}
@media screen and (max-width: 750px){
	nav .menu-btn {
    font-size: 12px;
		padding: 5px 18px;
	}
}
.select-boat li a {
	font-family: "Raleway", "Ariel", sana-serif;
	font-size: 16px;
	color: #f3f5fd;
	text-transform: uppercase;
	margin-right: 40px;
	margin-right: 32px;
}
@media screen and (max-width: 750px){
	.select-boat li a {
    font-size: 12px;
		margin-right: 15px;
	}
}
.block-reserv {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);

}
.block-reserv .title {
	width: 910px;
	font-family: "Raleway", "Ariel", sana-serif;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f3f5fd;
	letter-spacing: 5px;
}
@media screen and (max-width: 970px){
	.block-reserv .title {
		font-size: 50px;
		letter-spacing: 3px;
	}
}
@media screen and (max-width: 750px){
	.block-reserv .title {
		font-size: 30px;
		letter-spacing: normal;
	}
}
@media screen and (max-width: 375px){
	.block-reserv .title {
		font-size: 15px;
		letter-spacing: normal;
	}
}


.block-reserv p {
	margin-bottom: 90px;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 30px;
	font-weight: 400;
	color: #f3f5fd;
	text-transform: uppercase;
	word-spacing: 10px;
}
@media screen and (max-width: 970px){
	.block-reserv p {
		font-size: 20px;
		word-spacing: 5px;
	}
}
@media screen and (max-width: 750px){
	.block-reserv p {
		font-size: 14px;
		word-spacing: normal;
	}
}
@media screen and (max-width: 375px){
	.block-reserv p {
		font-size: 10px;
		word-spacing: normal;
	}
}
.find-boat {
	display: inline-block;
}
.find-boat input {
	width: 570px;
	padding: 18px 30px;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #717171;
	text-transform: uppercase;
	border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0;
	margin-right: -4px;
}
@media screen and (max-width: 970px){
	.find-boat input {
    width: 470px;
	}
}
@media screen and (max-width: 750px){
	.find-boat input {
    width: 230px;
		padding: 10px 30px;
	}
}
@media screen and (max-width: 375px){
	.find-boat input {
    width: 170px;
		padding: 5px 20px;
		font-size: 12px;
	}
}
.find-boat button {
	position: relative;
	 width: 200px;
	 padding: 18px 30px;
 	font-family: "Open Sans", "Ariel", sans-serif;
 	font-size: 14px;
 	font-weight: 700;
 	line-height: 22px;
 	color: #f3f5fd;
 	text-transform: uppercase;
 	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #e7434e;
	border: 0;
}
.find-boat button::before {
	content: "";
	position: absolute;
	top: 20px;
    left: 30px;
	width: 16px;
	height: 16px;
	 background: url("../images/sailboat.png");
	 background-repeat: no-repeat;
}
@media screen and (max-width: 970px){
	.find-boat button {
    width: 150px;
	}
}
@media (max-width: 970px){
	.find-boat button::before {
		display: block;
     left: 10px;
	}
}
@media screen and (max-width: 750px){
	.find-boat button {
		width: 120px;
    padding: 10px 15px;
    /*font-size: 14px;*/
	}
}
@media (max-width: 750px){
	.find-boat button::before {
		display: none;
	}
}
@media screen and (max-width: 375px){
	.find-boat button {
    width: 80px;
		padding: 5px 0;
		font-size: 12px;
	}
}
.menu-button{
	display: none;
}
.icon-menu {
	 position: absolute;
	 right: 10px;
	 top: 45px;
	 width: 20px;
	 height: 16px;
	 border-top: 4px solid #fff;
	 border-bottom: 4px solid #fff;
	 background: transparent;
}
.icon-menu::after {
	 content: "";
	 position: absolute;
	 top: 2px;
	 left: 0;
	 width: 20px;
	 height: 4px;
	 background: #fff;

}
@media (max-width: 550px){
	.menu-button {
		display: block;
	}
}
@media (max-width: 550px){
	.select-boat  {
		position: absolute;
		top: 80px;
		right: 10px;
		/*background: blue;*/
		text-align: left;
	}
}
@media (max-width: 550px){
	.select-boat li {
		display: block;
	}
}
.base-prices {
	max-width: 1170px;
	width: 100%;
	position: absolute;
	bottom: -55px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
	padding: 30px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.base-prices li {
	 float: left;
}
.item-price {
	border-right: 1px solid #000000;
}
.base-prices li:last-child .item-price {
	border-right: none;
}


.item-price .price {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 30px;
  font-weight: 800;
	color: #343434;
	margin-bottom: 5px;
}
@media (max-width: 550px){
	.item-price .price {
		font-size: 20px;
	}
}
.item-price .name-price {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 18px;
  font-weight: 400;
	color: #717171;
}
@media (max-width: 550px){
	.item-price .name-price {
		font-size: 12px;
	}
}
.container {
	max-width: 1170px;
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	min-height: 100px;
}
@media screen and (max-width: 970px){
	.container {
		padding-left: 5px;
		padding-right: 5px;
	}
}
middle {
	background: #ffffff;
	overflow: hidden;
}
.top-destinations {
	 margin-top: 15%;
}
@media (max-width: 750px){
	.top-destinations {
		margin-top: 20%;
	}
}
.top-destinations h1{
	 font-family: "Raleway", "Ariel", sans-serif;
	 font-size: 30px;
	 font-weight: 400;
	 text-transform: uppercase;
}
.top-destinations p {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 16px;
	margin-bottom: 5%;
}
.image-destination {
	overflow: hidden;
}
.image-destination li {
	  float: left;
    position: relative;
    max-height: 360px;
    overflow: hidden;
    padding: 1% 1%;
    margin-bottom: 1%;
    border-radius: 20px;
}

.image-destination li:first-child .img-boat,
.image-destination li:nth-child(3) .img-boat {
	 padding-left: 0;
}
.image-destination li:last-child .img-boat,
.image-destination li:nth-child(2) .img-boat {
	 padding-right: 0;
}
@media (max-width: 750px){
	.image-destination li {
		float: none;
		width: 100%;
	}
}
.image-destination li {
	 /*position: relative;*/
}
.image-destination .number-card {
	position: absolute;
	top: 10%;
	left: 40px;
	padding: 0 10px;
	padding-left: 50px;
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 45px;
	color: #ffffff;
	background: #e7434e;
	border-radius: 5px;
}
.image-destination .number-card::before {
	content: "";
  position: absolute;
  top: 14px;
  left: 24px;
  width: 16px;
  height: 16px;
  background: url("../images/sailboat.png");
  background-repeat: no-repeat;
}
.image-destination li .port {
	position: absolute;
  bottom: 15%;
	left: 40px;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 34px;
	color: #ffffff;
}
.image-destination li .country {
	position: absolute;
	bottom: 5%;
	left: 40px;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 25px;
	color: #ffffff;
}
.top-destinations .btn {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sans-serif;
	 font-size: 14px;
	 font-weight: 700;
	 text-transform: uppercase;
	 color: #343434;
	 border: 1px solid #bdbdbd;
	 padding: 2% 4%;
	 border-radius: 5px;
	 margin-top: 5%;
	 margin-bottom: 7%;
}
.own-boat {
	position: relative;
	/*height: 75vh;*/
	background: url("../images/own-boat.jpg") center no-repeat;
	background-size: cover;
}
.dark-glass {
	position: relative;
	height: 75vh;
	background: url("../images/dark-glass.png") center no-repeat;
	background-size: cover;
}
.dark-glass h1 {
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f9fafe;
	width:255vh;
}
@media screen and (max-width: 970px){
	.dark-glass h1 {
		font-size: 50px;
	}
}
@media screen and (max-width: 750px){
	.dark-glass h1 {
		font-size: 40px;
	}
}
@media screen and (max-width: 550px){
	.dark-glass h1 {
		font-size: 20px;
	}
}
.dark-glass p {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #f9fafe;
}
@media screen and (max-width: 970px){
	.dark-glass p {
		font-size: 24px;
	}
}
@media screen and (max-width: 750px){
	.dark-glass p {
		font-size: 18px;
	}
}
@media screen and (max-width: 550px){
	.dark-glass p {
		font-size: 8px;
	}
}
.dark-glass .btn {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sans-serif;
	 font-size: 14px;
	 font-weight: 700;
	 text-transform: uppercase;
	 color: #f9fafe;
	 padding: 1% 3%;
	 border-radius: 5px;
	 margin-top: 5%;
	 margin-bottom: 7%;
	 background: #e7434e;

}
@media screen and (max-width: 970px){
	.dark-glass .btn {
		font-size: 10px;
	}
}
@media screen and (max-width: 750px){
	.dark-glass .btn {
		font-size: 8px;
	}
}
@media screen and (max-width: 550px){
	.dark-glass .btn {
		font-size: 6px;
	}
}
.text-content {
	position: absolute;
	display: inline-block;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
}
.bottom {
	max-width: 1170px;
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
}
.image-boats {
	 overflow: hidden;
}
.image-boats li {
	position: relative;
	 float: left;
	 padding: 1%;
}
@media (max-width: 750px){
	.image-boats li {
		float: none;
		width: 100%;
	}
}
.image-boats .price-card {
	position: absolute;
	top: 10%;
	left: 45px;
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	padding: 2% 2%;
	background: #e7434e;
	border-radius: 5px;
}
.image-boats .boat-name {
	position: absolute;
	bottom: 18%;
	left: 45px;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 30px;
	font-weight: 400;
	color: #ffffff;
}
.image-boats .calculation {
	width: 370px;
	position: absolute;
	bottom: 10%;
	left: 45px;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
	overflow: hidden;
}
.image-boats .point-map {
	position: relative;
	padding-left: 6%;
}
.image-boats .point-map::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 14px;
	height: 17px;
	background: url("../images/map-marker.png");
}
.image-boats .amounts-berths {
	position: relative;
	padding-left: 14%;
}
.image-boats .amounts-berths::before {
	content: "";
	position: absolute;
	top: 2px;
  left: 19px;
	width: 22px;
	height: 14px;
	background: url("../images/account-multiple.png");
}
.featured {
	 padding-top: 6%;
}

.featured h1 {
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #343435;
	margin-bottom: 1%;
}
@media screen and (max-width: 750px){
	.featured h1 {
		font-size: 15px;
	}
}
.featured p {
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #717171;
	margin-bottom: 6%;
}
@media screen and (max-width: 750px){
	.featured p {
		font-size: 10px;
	}
}
.featured .btn {
	display: inline-block;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #343434;
	border: 1px solid #bdbdbd;
	padding: 2% 4%;
	border-radius: 5px;
	margin-top: 5%;
	margin-bottom: 7%;
}

@media screen and (max-width: 1200px){
	.container-top {
		padding: 0 10px;
	}
}
footer {
	width: 100%;
	background: #404040;
	padding-top: 2%;
}
.cord {
	top: 0;
	height: 6px;
	background: url("../images/cord.jpg") center no-repeat;
	background-size: cover;
}
footer section {
	float: left;
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	padding-bottom: 5%;
}
@media screen and (max-width: 750px){
	footer .top-locations,
	footer .featured-boats,
	footer .newletter,
	footer .contacts {
		float: none;
		display: inline-block;
		vertical-align: top;
		width: 45%;
		text-align: left;
		padding-left: 10%;
	}
}
@media screen and (max-width: 440px){
	footer .top-locations,
	footer .featured-boats,
	footer .newletter,
	footer .contacts {
		width: 100%;
		text-align: center;
		padding-bottom: 10%;
		padding-top: 10%;

	}
}
footer section h1 {
	font-family: "Raleway", "Ariel", sans-serif;
	font-size: 14px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 1%;
}
/*footer .newletter h1 {
	margin-bottom: 2%;
}*/
.featured-boats {
	padding-left: 2%;
}
@media screen and (max-width: 750px){
	.featured-boats {
	margin-bottom: 5%;
	}
}
footer .footer-ul li {
	margin-bottom: 1%;
}
.footer-ul a {
	font-family: "Open-Sans", "Ariel", sans-serif;
	font-size: 14px;
	line-height: 34px;
	font-weight: 400;
	color: #ffffff;
	text-transform: lowercase;
	text-align: left;
}
.newletter input {
	width: 50%;
	padding: 2% 3%;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #717171;
	text-transform: uppercase;
	border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0;
	margin-right: -4px;
}
@media screen and (max-width: 750px){
	.newletter input {
		width:95%;
		display: block;
	  padding: 1% 1%;
	}
}
@media screen and (max-width: 440px){
	.newletter input {
		width:70%;
		display: inline-block;
		font-size: 12px;
		text-align: center;

	}
}
.newletter .your-email {
	 width: 100%;
	 margin-bottom: 20;
}
.newletter .dispatch {
	width: 25%;
	padding: 2% 0;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #ffffff;
	text-transform: uppercase;
	border: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0;
	background: #e7434e;
}
@media screen and (max-width: 750px){
	.newletter .dispatch {
		width: 55%;
		display: inline-block;;
	  padding: 1% 1%;
		margin-left: 50%;
		transform: translateX(-50%);
	}
}
@media screen and (max-width: 440px){
	.newletter .dispatch {
		width: 25%;
		display: inline-block;
		text-align: center;
		margin-left: 0;
		font-size: 10px;

	}
}
.dispatch::before {
	 display: none;
}
.soc-buttons {
	 margin-top: 5%;
}
.soc-buttons a{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 2%;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
		border-radius: 50%;
    transition: background-position 0.5s,
    background-color 0.5s;
    background: #717171 url("../images/sprite.png") no-repeat center;
}
.soc-buttons .btn-f {
	background-position: -1px -4px;
}
.soc-buttons .btn-tw {
	background-position: -5px -97px;
}
.soc-buttons .btn-g {
	background-position: -5px -52px;
}
.sprite {
    background-image: url("../images/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

 {
    /*width: 10px;
    height: 20px;*/
    background-position: -15px -15px;
}

.sprite-icon-google_ {
    width: 22px;
    height: 14px;
    background-position: -15px -65px;
}

.sprite-icon-twitter {
    width: 22px;
    height: 17px;
    background-position: -15px -109px;
}
