/*----------------------------------------------------------------------------------*/
/*------------------------------RESET DEFAULT STYLES--------------------------------*/
/*----------------------------------------------------------------------------------*/
html,body                       { width:100%; height:100%; }
body                            { padding:0; margin:0; background:#fff; color:#000; }
div,menu,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,legend,label,select,input,textarea,button {
	padding:0;
	margin:0;
	outline:none;
	list-style:none;
}
button                         { cursor: pointer; padding: 0 }
select, input, textarea,button { font:12px Tahoma, sans-serif; vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
img, fieldset                  { border:0; }
img                            { vertical-align: top; }
table                          { border-collapse:collapse; border-spacing:0; }
/*a:link, a:visited              { !*font:12px Tahoma, sans-serif;*! color:#000; text-decoration:underline; }*/
a:hover                        { text-decoration:none; }
a {
	text-decoration: none;
	transition: 0.3s all ease-out;
}

.float-r           	           { float:right !important; }
.float-l                       { float:left !important; }
.overflow                      { overflow: hidden}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.s-1 {
   width: 8.33%;
}
.s-2 {
   width: 16.66%;
}
.s-3 {
   width: 25%;
}
.s-4 {
   width: 33.33%;
}
.s-5 {
   width: 41.66%;
}
.s-6 {
   width: 50%;
}
.s-7 {
   width: 58.33%;
}
.s-8 {
   width: 66.66%;
}
.s-9 {
   width: 75%;
}
.s-10 {
   width: 83.11%;
}
.s-11 {
   width: 91.66%;
}
.s-12 {
   width: 100%;
}

/*----------------------------------------------------------------------------------*/
/*-------------------------------------FONTS----------------------------------------*/
/*----------------------------------------------------------------------------------*/

@font-face {
	font-family: "Bold";
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

/*@font-face {
	font-family: "Light";
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Regular";
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
	font-family: "ExtraBold";
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: "Italic";
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
}*/

@font-face {
	font-family: "SemiBold";
	src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}*/

/*----------------------------------------------------------------------------------*/
/*-------------------------------------WRAPPER--------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*header{
	padding-top: 100px;
}*/
/*высота страницы минус высота футера*/

body {
	 padding-top: 220px;
}
	.wrapper {
 min-height: calc(100% - 320px);
}
/*.wrapper::after {
	content: "";
}*/
footer {
	width: 100%;
	height: 320px;
	background: #404040;
}
section{
	text-align: center;
}
.welcome-section {
	position: relative;
	height: 100vh;
	background: url("../images/header-background.jpg") center no-repeat;
 background-size: cover;
}
.container-top {
	max-width: 1500px;
	width: 100%;
}
header {
 padding-top: 38px;
}
 .logo {

}
nav {
	/*display: none;*/
}
@media (max-width: 550px){
	nav ul {
		display: none;
	}
}
.select-boat li {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sana-serif;
 	font-size: 16px;
 	color: #f3f5fd;
}
nav .menu-btn {
	 display: inline-block;
	 font-family: "Raleway", "Ariel", sana-serif;
 	font-size: 16px;
 	color: #f3f5fd;
	padding: 10px 41px;
	background: transparent;
	border: 1px solid #f3f5fd;
	text-transform: uppercase;
}
@media screen and (max-width: 750px){
	nav .menu-btn {
    font-size: 12px;
		padding: 5px 18px;
	}
}
.select-boat li a {
	font-family: "Raleway", "Ariel", sana-serif;
	font-size: 16px;
	color: #f3f5fd;
	text-transform: uppercase;
	margin-right: 40px;
	margin-right: 32px;
}
@media screen and (max-width: 750px){
	.select-boat li a {
    font-size: 12px;
		margin-right: 15px;
	}
}
.block-reserv {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);

}
.block-reserv .title {
	width: 910px;
	font-family: "Raleway", "Ariel", sana-serif;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	color: #f3f5fd;
	letter-spacing: 5px;
}
@media screen and (max-width: 970px){
	.block-reserv .title {
		font-size: 50px;
		letter-spacing: 3px;
	}
}
@media screen and (max-width: 750px){
	.block-reserv .title {
		font-size: 30px;
		letter-spacing: normal;
	}
}
@media screen and (max-width: 375px){
	.block-reserv .title {
		font-size: 15px;
		letter-spacing: normal;
	}
}


.block-reserv p {
	margin-bottom: 90px;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 30px;
	font-weight: 400;
	color: #f3f5fd;
	text-transform: uppercase;
	word-spacing: 10px;
}
@media screen and (max-width: 970px){
	.block-reserv p {
		font-size: 20px;
		word-spacing: 5px;
	}
}
@media screen and (max-width: 750px){
	.block-reserv p {
		font-size: 14px;
		word-spacing: normal;
	}
}
@media screen and (max-width: 375px){
	.block-reserv p {
		font-size: 10px;
		word-spacing: normal;
	}
}
.find-boat {
	display: inline-block;
}
.find-boat input {
	width: 570px;
	padding: 18px 30px;
	font-family: "Open Sans", "Ariel", sana-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	color: #717171;
	text-transform: uppercase;
	border: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0;
	margin-right: -4px;
}
@media screen and (max-width: 970px){
	.find-boat input {
    width: 470px;
	}
}
@media screen and (max-width: 750px){
	.find-boat input {
    width: 230px;
		padding: 10px 30px;
	}
}
@media screen and (max-width: 375px){
	.find-boat input {
    width: 170px;
		padding: 5px 20px;
		font-size: 12px;
	}
}
.find-boat button {
	position: relative;
	 width: 200px;
	 padding: 18px 30px;
 	font-family: "Open Sans", "Ariel", sans-serif;
 	font-size: 14px;
 	font-weight: 700;
 	line-height: 22px;
 	color: #f3f5fd;
 	text-transform: uppercase;
 	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #e7434e;
	border: 0;
}
.find-boat button::before {
	content: "";
	position: absolute;
	top: 20px;
    left: 30px;
	width: 16px;
	height: 16px;
	 background: url("../images/sailboat.png");
	 background-repeat: no-repeat;
}
@media screen and (max-width: 970px){
	.find-boat button {
    width: 150px;
	}
}
@media (max-width: 970px){
	.find-boat button::before {
		display: block;
     left: 10px;
	}
}
@media screen and (max-width: 750px){
	.find-boat button {
		width: 120px;
    padding: 10px 15px;
    /*font-size: 14px;*/
	}
}
@media (max-width: 750px){
	.find-boat button::before {
		display: none;
	}
}
@media screen and (max-width: 375px){
	.find-boat button {
    width: 80px;
		padding: 5px 0;
		font-size: 12px;
	}
}
.menu-button{
	display: none;
}
.icon-menu {
	 position: absolute;
	 right: 10px;
	 top: 45px;
	 width: 20px;
	 height: 16px;
	 border-top: 4px solid #fff;
	 border-bottom: 4px solid #fff;
	 background: transparent;
}
.icon-menu::after {
	 content: "";
	 position: absolute;
	 top: 2px;
	 left: 0;
	 width: 20px;
	 height: 4px;
	 background: #fff;

}
@media (max-width: 550px){
	.menu-button {
		display: block;
	}
}
@media (max-width: 550px){
	.select-boat  {
		position: absolute;
		top: 80px;
		right: 10px;
		/*background: blue;*/
		text-align: left;
	}
}
@media (max-width: 550px){
	.select-boat li {
		display: block;
	}
}
.base-prices {
	max-width: 1170px;
	width: 100%;
	position: absolute;
	bottom: -55px;
	left: 50%;
	transform: translateX(-50%);
	background: #ffffff;
	padding: 30px 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.base-prices li {
	 float: left;
}
.item-price {
	border-right: 1px solid #000000;
}
.base-prices li:last-child .item-price {
	border-right: none;
}


.item-price .price {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 30px;
  font-weight: 800;
	color: #343434;
	margin-bottom: 5px;
}
.item-price .name-price {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 18px;
  font-weight: 400;
	color: #717171;
}
.container {
	max-width: 1170px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	min-height: 100px;
}
middle {
	background: #ffffff;
	overflow: hidden;
}
.top-destinations {
	 margin-top: 15%;
}
.top-destinations h1{
	 font-family: "Raleway", "Ariel", sans-serif;
	 font-size: 30px;
	 font-weight: 400;
	 text-transform: uppercase;
}
.top-destinations p {
	font-family: "Open Sans", "Ariel", sans-serif;
	font-size: 16px;

}
.image-destination {
	overflow: hidden;
}
.image-destination li {
	  float: left;
    position: relative;
    max-height: 360px;
    overflow: hidden;
    padding: 10px 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.image-destination li:first-child .img-boat,
.image-destination li:nth-child(3) .img-boat {
	 padding-left: 0;
}
.image-destination li:last-child .img-boat,
.image-destination li:nth-child(2) .img-boat {
	 padding-right: 0;
}
@media (max-width: 750px){
	.image-destination li {
		padding: 7px 7px;
		margin-bottom: 7px;
	}
}
@media (max-width: 550px){
	.image-destination li {
		padding: 5px 5px;
		margin-bottom: 5px;
	}
	@media (max-width: 370px){
		.image-destination li {
			padding: 3px 3px;
			margin-bottom: 3px;
		}
	}
}





@media screen and (max-width: 1300px){
	.container-top {
		padding: 0 10px;
	}
}
